{{ 'ash-about.css' | asset_url | stylesheet_tag }}
<section class="ash-container">
  <div class="ash-container__fix">
    <div class="ash-section ash-section--about">
      <h2 class="ash-headline">{{ section.settings.headline }}</h2>
      <p class="ash-description">
        {{ 'sections.about.caption' | t }}
      </p>
      <div class="ah-horizontal-divider">&nbsp;</div>
      <p class="ash-description ash-description--with-cols ash-description--two-cols">
        {{ 'sections.about.description' | t }}
      </p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.ash_about.name",
  "settings": [
    {
      "type": "richtext",
      "id": "headline",
      "label": "t:sections.ash_about.settings.label",
      "default": "<p>Hi, we are Handmade Studio</p>"
    }
  ]
}
{% endschema %}
