{{ 'ash-about.css' | asset_url | stylesheet_tag }}
<section class="ash-container" style="display:none">
  <div class="ash-container__fix">
    <div class="ash-section ash-section--about">
      <h2 class="ash-headline">
        {{ section.settings.headline }}
      </h2>
      <div class="ash-description">
        {{ section.settings.caption }}
      </div>
      <div class="ah-horizontal-divider">&nbsp;</div>
      <div class="ash-description ash-description--with-cols ash-description--two-cols">
        {{ section.settings.description }}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.ash_about.name",
  "settings": [
    {
      "id": "headline",
      "type": "richtext",
      "label": "t:sections.ash_about.settings.headline.label",
      "info": "t:sections.ash_about.settings.headline.info",
      "default": "<p>Hi, we are Handmade Studio</p>"
    },
    {
      "id": "caption",
      "type": "richtext",
      "label": "t:sections.ash_about.settings.caption.label",
      "info": "t:sections.ash_about.settings.caption.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel<br/>investor focus research & development value proposition graphical user interface investor.</p>"
    },
    {
      "id": "description",
      "type": "richtext",
      "label": "t:sections.ash_about.settings.description.label",
      "info": "t:sections.ash_about.settings.description.info",
      "default": "<p>Marketing non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor. Non-disclosure agreement scrum project alpha lean startup startup business plan user experience angel investor focus research & development value proposition graphical user interface investor.</p>"
    }
  ]
}
{% endschema %}
