<section class="ash-container">
  <div class="ash-container__fix">
    <div class="ash-section ash-section--about">
      <h2 class="ash-headline">
        {{ 'sections.about.title' | t }}
      </h2>
      <p class="ash-description">
        {{ 'sections.about.caption' | t }}
      </p>

      <div class="ah-horizontal-divider">&nbsp;</div>

      <ul class="block-list">
        <li class="block-list__item">
          <p class="ash-description">
            {{ 'sections.about.block_list_1' | t }}
          </p>
        </li>
        <li class="block-list__item">
          <p class="ash-description">
            {{ 'sections.about.block_list_2' | t }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{}
{% endschema %}
