@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=block");

@function toRem($value) {
 @return calc(math.div($value, calc(16 - (16 * 37.5 / 100)))) + rem;
}

@mixin reset-default() {
 list-style: none;
 padding: 0;
 margin: 0;
}

.flex-box {
 display: flex;
}

// .section-kazaryan
.section-kazaryan {
 display: block;
 background: #f6f4f2;

 // .section-kazaryan__fix
 &__fix {
  max-width: var(--section-kazaryan__fix--max-width);
  margin: 0 auto;
 }

 // .section-kazaryan__fix p
 p {
  @include reset-default;
 }
}

// .about-container
.about-container {
 $this: &;
 max-width: 1098px;
 margin: 0 auto;
 position: relative;
 top: 0;
 left: 0;
 padding-top: var(--about-container--padding-top);
 padding-bottom: var(--about-container--padding-bottom);

 // .about-container__img-cell
 &__img-cell {
  text-decoration: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0;
 }

 // .about-container__img-position
 &__img-position {
  position: absolute;
  top: 0;
  font-size: 0;
 }

 // .about-container--left-spacer
 &--left-spacer {
  padding-left: var(--about-container--left-spacer--padding-left);

  #{$this}__img-position {
   left: -100%;
   transform: translate(50%, 0);
   img {
    margin-top: var(--about-container--left-spacer__img--margin-top);
    margin-left: var(--about-container--left-spacer__img--margin-left);
   }
  }
 }

 // .about-container--right-spacer
 &--right-spacer {
  padding-right: var(--about-container--right-spacer--padding-right);

  #{$this}__img-position {
   left: 100%;
   transform: translate(50%, 0);
   img {
    margin-top: var(--about-container--right-spacer__img--margin-top);
    margin-left: var(--about-container--right-spacer__img--margin-left);
   }
  }
 }
}

// .section-headline
.section-headline {
 @include reset-default;
 font-family: "Playfair Display", serif;
 font-weight: 400;
 color: #56443e;
 font-size: var(--section-headline--font-size);
 line-height: var(--section-headline--line-height);
 letter-spacing: var(--section-headline--letter-spacing);
 padding-left: var(--section-headline--padding-left);
}

// .section-context
.section-context {
 @include reset-default;
 font-family: "Poppins", sans-serif;
 font-style: normal;
 color: #000;
 font-weight: 400;
 opacity: 0.6;
 font-size: var(--section-context--font-size);
 line-height: var(--section-context--line-height);
 letter-spacing: var(--section-context--letter-spacing);
 word-spacing: var(--section-context--word-spacing);

 // .section-context--caption
 &--caption {
  text-decoration: none;
  padding-top: var(--section-context--caption--padding-top);
  padding-right: var(--section-context--caption--padding-right);
  padding-bottom: var(--section-context--caption--padding-bottom);
  padding-left: var(--section-context--caption--padding-left);
 }

 // .section-context--two-cols
 &--two-cols {
  column-count: 2;
  column-gap: var(--section-context--two-cols--column-gap);
  padding-top: var(--section-context--two-cols--padding-top);
  padding-left: var(--section-context--two-cols--padding-left);
  padding-right: var(--section-context--two-cols--padding-right);
 }
}

// .horizontal-divider
.horizontal-divider {
 @include reset-default;
 display: block;
 width: 100%;
 border: 0;
 border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
 font-size: 0;
 background: none;
}

// .list-persons
.list-persons {
 display: flex;
 padding-top: var(--list-persons--padding-top);

 // .list-persons__images
 &__images {
  display: flex;
  font-size: 0;
  padding-left: var(--list-persons__images--padding-left);
  padding-right: var(--list-persons__images--padding-right);
 }

 &__full-names {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: var(--list-persons__full-names--font-size);
  line-height: var(--list-persons__full-names--line-height);
  letter-spacing: var(--list-persons__full-names--letter-spacing);
 }
}

// .person-img
.person-img {
 display: block;
 border-radius: 50%;
 border: 3px solid #fff;
 background: #ccc;
 position: relative;
 top: 0;
 left: 0;
 width: var(--person-img--width);
 height: var(--person-img--height);
 margin-left: var(--person-img--margin-left);
 &:hover {
  z-index: 100;
 }
}

/*


*/

// .person-full-name
.person-full-name {
 display: inline-block;
 padding-right: var(--person-full-name--padding-right);
}

// .person-positions
.person-positions {
 color: rgba(0, 0, 0, 0.6);
}
