@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=block");
.flex-box {
  display: flex;
}

.section-kazaryan {
  display: block;
  background: #f6f4f2;
}
.section-kazaryan__fix {
  max-width: var(--section-kazaryan__fix--max-width);
  margin: 0 auto;
}
.section-kazaryan p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-container {
  max-width: 1098px;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  padding-top: var(--about-container--padding-top);
  padding-bottom: var(--about-container--padding-bottom);
}
.about-container__img-cell {
  text-decoration: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0;
}
.about-container__img-position {
  position: absolute;
  top: 0;
  font-size: 0;
}
.about-container--left-spacer {
  padding-left: var(--about-container--left-spacer--padding-left);
}
.about-container--left-spacer .about-container__img-position {
  left: -100%;
  transform: translate(50%, 0);
}
.about-container--left-spacer .about-container__img-position img {
  margin-top: var(--about-container--left-spacer__img--margin-top);
  margin-left: var(--about-container--left-spacer__img--margin-left);
}
.about-container--right-spacer {
  padding-right: var(--about-container--right-spacer--padding-right);
}
.about-container--right-spacer .about-container__img-position {
  left: 100%;
  transform: translate(50%, 0);
}
.about-container--right-spacer .about-container__img-position img {
  margin-top: var(--about-container--right-spacer__img--margin-top);
  margin-left: var(--about-container--right-spacer__img--margin-left);
}

.section-headline {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  color: #56443e;
  font-size: var(--section-headline--font-size);
  line-height: var(--section-headline--line-height);
  letter-spacing: var(--section-headline--letter-spacing);
  padding-left: var(--section-headline--padding-left);
}

.section-context {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #000;
  font-weight: 400;
  opacity: 0.6;
  font-size: 14px;
  line-height: 23.66px;
  letter-spacing: -0.02px;
  word-spacing: -2.8px;
}
.section-context--caption {
  text-decoration: none;
  padding: 54px 40px 52px 5px;
}
.section-context--two-cols {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 21px;
       column-gap: 21px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 20px;
}

.horizontal-divider {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
  font-size: 0;
  background: none;
}

.list-persons {
  display: flex;
  padding-top: 82px;
}
.list-persons__images {
  padding-left: 23px;
  padding-right: 30px;
  display: flex;
  font-size: 0;
}
.list-persons__full-names {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.66px;
  letter-spacing: -0.31px;
}

.person-img {
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
  width: 43px;
  height: 43px;
  margin-left: -18px;
  background: #ccc;
  position: relative;
  top: 0;
  left: 0;
}
.person-img:hover {
  z-index: 100;
}

.person-full-name {
  display: inline-block;
  padding-right: 8px;
}

.person-positions {
  color: rgba(0, 0, 0, 0.6);
}/*# sourceMappingURL=section-kazaryan.css.map */