@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=block");

@function toRem($value) {
 @return calc(math.div($value, calc(16 - (16 * 37.5 / 100)))) + rem;
}

:root {
 --section-kazaryan__fix-max-width: #{toRem(1296)};
}

@mixin reset-default() {
 list-style: none;
 padding: 0;
 margin: 0;
}

.flex-box {
 display: flex;
}

// .section-kazaryan
.section-kazaryan {
 display: block;
 background: #f6f4f2;

 // .section-kazaryan__fix
 &__fix {
  max-width: var(--section-kazaryan__fix-max-width);
  margin: 0 auto;
 }

 // .section-kazaryan__fix p
 p {
  @include reset-default;
 }
}

// .about-container
.about-container {
 $this: &;
 max-width: 1098px;
 margin: 0 auto;
 position: relative;
 top: 0;
 left: 0;
 padding-top: 264px;
 padding-bottom: 182px;

 // .about-container__img-cell
 &__img-cell {
  text-decoration: none;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 0;
 }

 // .about-container__img-position
 &__img-position {
  position: absolute;
  top: 0;
  font-size: 0;
 }

 // .about-container--left-spacer
 &--left-spacer {
  padding-left: 432px;
  #{$this}__img-position {
   left: -100%;
   transform: translate(50%, 0);
   img {
    margin-top: 12px;
    margin-left: 52px;
   }
  }
 }

 // .about-container--right-spacer
 &--right-spacer {
  padding-right: 432px;

  #{$this}__img-position {
   left: 100%;
   transform: translate(50%, 0);
   img {
    margin-top: 12px;
    margin-left: -28px;
   }
  }
 }
}

// .section-headline
.section-headline {
 @include reset-default;
 font-family: "Playfair Display", serif;
 font-weight: 400;
 font-size: 65px;
 line-height: 67.14px;
 color: #56443e;
 letter-spacing: -2.54px;
 padding-left: 5px;
 em {
  margin-left: -5px;
  display: inline-block;
  padding-right: 8px;
 }
}

// .section-context
.section-context {
 @include reset-default;
 font-family: "Poppins", sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 14px;
 line-height: 23.66px;
 letter-spacing: -0.02px;
 color: #000;
 opacity: 0.6;
 word-spacing: -2.8px;

 // .section-context--caption
 &--caption {
  text-decoration: none;
  padding-top: 54px;
  padding-bottom: 52px;
  padding-left: 5px;
  padding-right: 40px;
 }

 // .section-context--two-cols
 &--two-cols {
  column-count: 2;
  column-gap: 21px;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 20px;
 }
}

// .horizontal-divider
.horizontal-divider {
 @include reset-default;
 display: block;
 width: 100%;
 border: 0;
 border-bottom: solid rgba(0, 0, 0, 0.2) 1px;
 font-size: 0;
 background: none;
}

// .list-persons
.list-persons {
 display: flex;
 padding-top: 82px;

 // .list-persons__images
 &__images {
  padding-left: 23px;
  padding-right: 30px;
  display: flex;
  font-size: 0;
 }

 // .list-persons__full-names
 &__full-names {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23.66px;
  color: #000;
  letter-spacing: -0.31px;
 }
}

// .person-img
.person-img {
 display: block;
 width: 43px;
 height: 43px;
 border: 3px solid #fff;
 background: #ccc;
 border-radius: 50%;
 margin-left: -18px;
 position: relative;
 top: 0;
 left: 0;
 &:hover {
  z-index: 100;
 }
}

// .person-full-name
.person-full-name {
 display: inline-block;
 padding-right: 8px;
}

// .person-positions
.person-positions {
 color: rgba(0, 0, 0, 0.6);
}
