/* stylelint-disable */
/* stylelint-enable */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500&display=block");
.flex-box {
  display: flex;
}

.section-kazaryan {
  display: block;
  background: var(--section-kazaryan--background);
}
.section-kazaryan--font-family {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.section-kazaryan__fix {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-kazaryan__fix--max-width);
}
.section-kazaryan p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-container {
  left: 0;
  top: 0;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--about-container--max-width);
  padding-top: var(--about-container--padding-top);
  padding-bottom: var(--about-container--padding-bottom);
}
.about-container__img-cell {
  left: 0;
  top: 0;
  position: relative;
  width: 100%;
  font-size: 0;
}
.about-container__img-position {
  position: absolute;
  top: 0;
  font-size: 0;
}
.about-container__img-position svg {
  width: var(--section-about-empty-img--width);
  height: var(--section-about-empty-img--height);
  background-color: var(--section-about-empty-img--bg-color);
}
.about-container--left-spacer {
  padding-left: var(--about-container--left-spacer--padding-left);
}
.about-container--left-spacer .about-container__img-position {
  left: -100%;
  transform: translate(50%, 0);
}
.about-container--left-spacer .about-container__img-position .img-container {
  margin-top: var(--about-container--left-spacer__img--margin-top);
  margin-left: var(--about-container--left-spacer__img--margin-left);
}
.about-container--right-spacer {
  padding-right: var(--about-container--right-spacer--padding-right);
}
.about-container--right-spacer .about-container__img-position {
  left: 100%;
  transform: translate(50%, 0);
}
.about-container--right-spacer .about-container__img-position .img-container {
  margin-top: var(--about-container--right-spacer__img--margin-top);
  margin-left: var(--about-container--right-spacer__img--margin-left);
}

.section-headline {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--section-headline--color);
  font-size: var(--section-headline--font-size);
  line-height: var(--section-headline--line-height);
  letter-spacing: var(--section-headline--letter-spacing);
  padding-left: var(--section-headline--padding-left);
}

.section-context {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--section-context--color);
  font-size: var(--section-context--font-size);
  line-height: var(--section-context--line-height);
  letter-spacing: var(--section-context--letter-spacing);
  word-spacing: var(--section-context--word-spacing);
}
.section-context--caption {
  text-decoration: none;
  padding-top: var(--section-context--caption--padding-top);
  padding-right: var(--section-context--caption--padding-right);
  padding-bottom: var(--section-context--caption--padding-bottom);
  padding-left: var(--section-context--caption--padding-left);
}
.section-context--two-cols {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: var(--section-context--two-cols--column-gap);
       column-gap: var(--section-context--two-cols--column-gap);
  padding-top: var(--section-context--two-cols--padding-top);
  padding-left: var(--section-context--two-cols--padding-left);
  padding-right: var(--section-context--two-cols--padding-right);
}

.horizontal-divider {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: solid var(--horizontal-divider--border-bottom) 1px;
  font-size: 0;
  background: none;
}

.list-persons {
  display: flex;
  padding-top: var(--list-persons--padding-top);
}
.list-persons__images {
  display: flex;
  font-size: 0;
  padding-left: var(--list-persons__images--padding-left);
  padding-right: var(--list-persons__images--padding-right);
}
.list-persons__full-names {
  color: var(--list-persons__full-names--color);
  font-size: var(--list-persons__full-names--font-size);
  line-height: var(--list-persons__full-names--line-height);
  letter-spacing: var(--list-persons__full-names--letter-spacing);
}

.person-img {
  left: 0;
  top: 0;
  position: relative;
  display: block;
  border-radius: 50%;
  border: 3px solid var(--person-img--border-color);
  background: var(--person-img--background);
  width: var(--person-img--width);
  height: var(--person-img--height);
  margin-left: var(--person-img--margin-left);
  overflow: hidden;
}
.person-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.person-img:hover {
  z-index: 100;
}

.person-full-name {
  display: inline-block;
  padding-left: var(--person-full-name--padding-right);
}

.left-shift {
  margin-left: -8px;
}

.person-positions {
  color: var(--person-positions--color);
  font-size: 14px;
}/*# sourceMappingURL=section-kazaryan.css.map */